@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* UI */
    --background: var(--tokyo-8);
    --foreground: var(--tokyo-2);
    --map: var(--tokyo-9);
    --map-foreground: var(--tokyo-2);
    --card: var(--tokyo-6);
    --card-foreground: var(--tokyo-2);
    --popover: var(--tokyo-8);
    --popover-foreground: var(--tokyo-2);
    --primary: var(--tokyo-purple);
    --primary-foreground: var(--tokyo-8);
    --secondary: var(--tokyo-yellow);
    --secondary-foreground: var(--tokyo-8);
    --muted: var(--tokyo-7);
    --muted-foreground: var(--tokyo-4);
    --accent: var(--tokyo-7);
    --accent-foreground: var(--tokyo-2);
    --destructive: var(--tokyo-red);
    --destructive-foreground: var(--tokyo-8);
    --border: var(--tokyo-10);
    --input: var(--tokyo-10);
    --ring: var(--tokyo-purple);
    --chart-1: var(--tokyo-red);
    --chart-2: var(--tokyo-orange);
    --chart-3: var(--tokyo-green);
    --chart-4: var(--tokyo-sky);
    --chart-5: var(--tokyo-indigo);
    --radius: 0.5rem;
    /* Tokyo Night */
    --tokyo-red: 349 89% 72%;
    --tokyo-orange: 22 100% 70%;
    --tokyo-yellow: 36 66% 64%;
    --tokyo-green: 89 51% 61%;
    --tokyo-aqua: 171 58% 65%;
    --tokyo-cyan: 189 73% 52%;
    --tokyo-sky: 202 100% 75%;
    --tokyo-blue: 221 89% 72%;
    --tokyo-purple: 261 85% 79%;
    --tokyo-bright-yellow: 32 12% 79%;
    --tokyo-bright-aqua: 179 85% 84%;
    --tokyo-1: 229 73% 86%;
    --tokyo-2: 229 35% 75%;
    --tokyo-3: 227 35% 71%;
    --tokyo-4: 229 23% 44%;
    --tokyo-5: 229 23% 33%;
    --tokyo-6: 230 24% 19%;
    --tokyo-7: 233 21% 15%;
    --tokyo-8: 235 19% 13%;
    --tokyo-9: 240 15% 10%;
    --tokyo-10: 240 11% 7%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-mono text-foreground;
  }
  #root {
    @apply flex min-h-dvh flex-col md:flex-row;
  }
}
